<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <yireo_loki_components>
            <general>
                <debug>0</debug>
                <only_validate_ajax>1</only_validate_ajax>
            </general>
        </yireo_loki_components>
    </default>
</config>
