<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Yireo\LokiComponents\Config\XmlConfig\VirtualFileReader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Yireo\LokiComponents\Config\XmlConfig\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Yireo\LokiComponents\Config\XmlConfig\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">loki_components.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/components/componentGroup" xsi:type="array">
                    <item name="name" xsi:type="string">name</item>
                </item>
                <item name="/components/componentGroup/defaultTarget" xsi:type="array">
                    <item name="name" xsi:type="string">name</item>
                </item>
                <item name="/components/componentGroup/component" xsi:type="array">
                    <item name="name" xsi:type="string">name</item>
                </item>
                <item name="/components/componentGroup/component/target" xsi:type="array">
                    <item name="name" xsi:type="string">name</item>
                </item>
                <item name="/components/componentGroup/component/validator" xsi:type="array">
                    <item name="name" xsi:type="string">name</item>
                </item>
                <item name="/components/componentGroup/component/filter" xsi:type="array">
                    <item name="name" xsi:type="string">name</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Yireo\LokiComponents\Config\XmlConfig">
        <arguments>
            <argument name="reader" xsi:type="object">Yireo\LokiComponents\Config\XmlConfig\VirtualFileReader</argument>
            <argument name="cacheId" xsi:type="string">loki_components</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\Template">
        <plugin name="Yireo_LokiComponents::addCspInlineScripts" type="Yireo\LokiComponents\Plugin\AddCspInlineScripts"/>
    </type>

    <type name="Yireo\LokiComponents\Validator\ValidatorRegistry">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="required" xsi:type="object">Yireo\LokiComponents\Validator\RequiredValidator</item>
                <item name="number" xsi:type="object">Yireo\LokiComponents\Validator\NumberValidator</item>
                <item name="length" xsi:type="object">Yireo\LokiComponents\Validator\LengthValidator</item>
                <item name="email" xsi:type="object">Yireo\LokiComponents\Validator\EmailValidator</item>
            </argument>
        </arguments>
    </type>

    <type name="Yireo\LokiComponents\Filter\FilterRegistry">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="trim" xsi:type="object">Yireo\LokiComponents\Filter\Trim</item>
                <item name="capitalize" xsi:type="object">Yireo\LokiComponents\Filter\Capitalize</item>
                <item name="lowercase" xsi:type="object">Yireo\LokiComponents\Filter\Lowercase</item>
                <item name="numeric" xsi:type="object">Yireo\LokiComponents\Filter\Numeric</item>
                <item name="uppercase" xsi:type="object">Yireo\LokiComponents\Filter\Uppercase</item>
            </argument>
        </arguments>
    </type>
</config>
