<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd"
>
    <event name="view_block_abstract_to_html_before">
        <observer name="Loki_Components::assignAdditionalBlockVariables" instance="Loki\Components\Observer\AssignAdditionalBlockVariables"/>
    </event>

    <event name="view_block_abstract_to_html_after">
        <observer name="Loki_Components::addHtmlAttributesToComponentBlock" instance="Loki\Components\Observer\AddHtmlAttributesToComponentBlock"/>

        <observer name="Loki_Components::addDomIdToBlock" instance="Loki\Components\Observer\AddDomIdToBlock"/>
    </event>
</config>
