<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Yireo\LokiComponents\Util\DefaultTargets">
        <arguments>
            <argument name="targets" xsi:type="array">
                <item name="messages-container" xsi:type="string">loki-components.utils.global-message-container</item>
                <item name="messages" xsi:type="string">loki-components.global-messages</item>
            </argument>
        </arguments>
    </type>
</config>
