<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="loki_alpine_ajax" frontName="loki_alpine_ajax">
            <module name="Yireo_LokiComponents"/>
        </route>
    </router>
</config>
