& when (@media-common = true) {
    .loki-messages {
        .message {
            .scope-button {
                background-color: inherit;
                border: none;
                position: absolute;
                top: 20%;
                right: 0;
            }
        }
    }
}
